body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#navlist {
    background-color: #7BAFD4;
    overflow: hidden;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#navlist a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

#navlist a:hover {
    color:  #13294B;
}

.search {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}